---
import { getEntry, render } from "astro:content";
import { LinkCard } from "@astrojs/starlight/components";

import { getTransitionName } from "@components/transitions";
import {
  getCreatedDate,
  getSeriesHtml,
  getTagsHtml,
} from "@components/posts/get-posts";

export interface Props {
  slug: string;
  includeDate?: boolean | undefined;
  includeTags?: boolean | undefined;
  includeReadingTime?: boolean | undefined;
  includeDescription?: boolean | undefined;
  includeSeries?: boolean | undefined;
}

const {
  slug,
  includeDate,
  includeTags,
  includeReadingTime = true,
  includeDescription = true,
  includeSeries = true,
} = Astro.props;

const post = await getEntry(
  "docs",
  slug.startsWith("posts/") ? slug : "posts/" + slug,
);
if (post == null) {
  throw new Error(`slug ${slug} isn’t valid`);
}

// TODO: include in the name the series' name (only for light/dark for now)

let description: string | undefined;

if (includeReadingTime) {
  const { remarkPluginFrontmatter } = await render(post);
  description = remarkPluginFrontmatter.readingTime.displayedText;
}

if (includeDate) {
  const date = getCreatedDate(post);
  if (!description) {
    description = date;
  } else {
    description += ` • ${date}`;
  }
}
if (includeTags) {
  const tags = getTagsHtml(post);
  if (tags) {
    if (!description) {
      description = tags;
    } else {
      description += `<br/>${tags}`;
    }
  }
}

if (includeDescription && post.data.description) {
  const descriptionToAdd = post.data.description;
  if (!description) {
    description = descriptionToAdd;
  } else {
    description = `<p>${description}</p><p>${descriptionToAdd}</p>`;
  }
}

const props: { href: string; title: string; description?: string } = {
  href: import.meta.env.BASE_URL + post.id,
  title: post.data.title,
};
if (description) {
  props.description = description;
}

if (includeSeries) {
  const seriesHtml = getSeriesHtml(post);
  if (seriesHtml) {
    // <object> is here because these are nested links, and browsers don't like that
    // Add `style="contain: strict"` otherwise the `<object>` will take a lot of vertical space during initial load, which causes layout shift. `contain: strict` still creates layout shift, but from nothing to something, which is more okay
    props.title += ` <object type="nested/link" style="contain: strict">${seriesHtml}</object>`;
  }
}

const id = "_" + crypto.randomUUID();
const transitionName = getTransitionName(post.data.title);
---

<div data-pagefind-ignore>
  <LinkCard {...props} id={id} />
</div>

<script define:vars={{ id, transitionName }}>
  const element = document.querySelector(`#${id} > .title`);

  if (element) {
    // You can have the same card rendered multiple times on the page. So only inject the transition name when it is currently visible
    const observer = new IntersectionObserver(
      (entries) => {
        for (const entry of entries) {
          if (entry.isIntersecting) {
            element.style.viewTransitionName = transitionName;
          } else {
            element.style.viewTransitionName = "";
          }
        }
      },
      { threshold: 0.1 },
    );
    observer.observe(element);
  }
</script>
