---
import Page from '@layouts/Page.astro';

const base = import.meta.env.BASE_URL;
---

<Page title="Ayc0’s projects">
    <ul>
      <li>
        <a href={`${base}length-units`}>CSS Length Units</a>
      </li>
      <li>
        <a href={`${base}react-timings`}>React timings</a>
      </li>
      <li>
        <a href={`${base}hexagons-without-rules`}>Hexagons</a>
      </li>
      <li>
        <a href={`${base}color-visualizer`}>Color Visualizer</a>
      </li>
      <li>
        <a href={`${base}posts`}>Blog posts</a>
      </li>
    </ul>
</Page>
