---
import Page from '../layouts/Page.astro';

const currentPath = Astro.url.pathname;
---

<Page title="Ayc0’s projects">
    <ul>
      <li>
        <a href={`${currentPath}length-units`}>CSS Length Units</a>
      </li>
      <li>
        <a href={`${currentPath}react-timings`}>React timings</a>
      </li>
      <li>
        <a href={`${currentPath}hexagons-without-rules`}>Hexagons</a>
      </li>
      <li>
        <a href={`${currentPath}color-visualizer`}>Color Visualizer</a>
      </li>
      <li>
        <a href={`${currentPath}posts`}>Blog posts</a>
      </li>
    </ul>
</Page>
