---
import { render } from "astro:content";

// Most of the HTML was copied from @astrojs/starlight/components/PageTitle.astro

import {
  getCreatedDate,
  getSeriesHtml,
  getTagsHtml,
} from "@components/get-posts";

const post = Astro.locals.starlightRoute.entry;

const { remarkPluginFrontmatter } = await render(
  // @ts-expect-error – this works, but for some reasons, it doesn’t seem to be compatible at the type level
  post,
);

const createdDate = getCreatedDate(post);
const tags = getTagsHtml(post);

// Copied from node_modules/@astrojs/starlight/constants.ts as not exported
const PAGE_TITLE_ID = "_top";

const series = getSeriesHtml(post);
---

<h1 id={PAGE_TITLE_ID}>
  {post.data.title}
  {series ? <span set:html={series} /> : null}
</h1>

<style>
  @layer starlight.core {
    h1 {
      margin-top: 1rem;
      font-size: var(--sl-text-h1);
      line-height: var(--sl-line-height-headings);
      font-weight: 600;
      color: var(--sl-color-white);
    }
  }
</style>

{
  // Only display the reading time & last updated when it is a doc
  Astro.locals.starlightRoute.entry.data.template === "doc" ? (
    <>
      <p>
        {remarkPluginFrontmatter.readingTime.displayedText}
        {createdDate ? ` • ${createdDate}` : ""}
      </p>
      {tags ? (
        <div
          class="sl-markdown-content"
          style="margin-top: 0"
          set:html={tags}
        />
      ) : null}
    </>
  ) : null
}
