---
import { render } from "astro:content";

// Most of the HTML was copied from @astrojs/starlight/components/PageTitle.astro

import {
  getCreatedDate,
  getSeriesHtml,
  getTagsHtml,
} from "@components/get-posts";

const post = Astro.locals.starlightRoute.entry;

const { remarkPluginFrontmatter } = await render(post);

const createdDate = getCreatedDate(post);
const tags = getTagsHtml(post);

// Copied from node_modules/@astrojs/starlight/constants.ts as not exported
const PAGE_TITLE_ID = "_top";

const series = getSeriesHtml(post);
---

<h1 id={PAGE_TITLE_ID}>
  <span transition:name={post.data.title}>{post.data.title}</span>
  {
    series || post.data.atUri ? (
      <div class="sub-title">
        {series ? (
          <div class="series">
            {/* Keep same structure with the top-level span getting a font-size of h1, and the inside span a smaller one */}
            <span>
              <span data-series-label>Series: </span>
            </span>
            <span set:html={series} />
          </div>
        ) : null}

        {post.data.atUri ? (
          <div class="sequoia-wrapper">
            <sequoia-recommend document-uri={post.data.atUri} />
            <sequoia-subscribe
              button-type="plain"
              document-uri={post.data.atUri}
            />
          </div>
        ) : null}
      </div>
    ) : null
  }
</h1>

<script>
  import "@components/sequoia-subscribe.js";
</script>

<style>
  @layer starlight.core {
    h1 {
      margin-top: 1rem;
      font-size: var(--sl-text-h1);
      line-height: var(--sl-line-height-headings);
      font-weight: 600;
      color: var(--sl-color-white);
    }
  }

  .sub-title,
  .sequoia-wrapper {
    display: inline-flex;
    align-items: center;

    & > * {
      line-height: 0px;
    }
  }

  .sub-title {
    flex-wrap: wrap;
    row-gap: 0.1em;
    column-gap: 0.7em;

    width: 100%;

    & > .series {
      line-height: 26px;
    }
  }

  .sequoia-wrapper {
    gap: 0.2em;
  }
</style>

{
  // Only display the reading time & last updated when it is a doc
  Astro.locals.starlightRoute.entry.data.template === "doc" ? (
    <>
      <p>
        {remarkPluginFrontmatter.readingTime.displayedText}
        {createdDate ? ` • ${createdDate}` : ""}
      </p>
      {tags ? (
        <div
          class="sl-markdown-content"
          style="margin-top: 0"
          set:html={tags}
        />
      ) : null}
    </>
  ) : null
}
